* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weatherIcon,
.weeklyIcon {
  width: 50px;
}

html {
  min-height: 100%;
}

body {
  background: url(../images/secondsky.jpg);
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  height: 100%;
}
