.weatherInfoHolder {
  display: flex;
  justify-content: center;
}

.weatherInfo {
  width: 500px;
}

.weatherRow {
  display: flex;
  height: 60px;

  border-bottom: 1px solid white;
  font-family: 'Assistant', sans-serif;
}

.weatherRow h2 {
  font-weight: lighter;
}
.infoBox {
  margin: 1px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 10px;
}

@media screen and (max-width: 500px) {
  .weatherInfo {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .weatherInfo {
    width: 250px;
  }
}
